POSTGRES_PORT=54320
POSTGRES_DB=coreproject_backend_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
NEWSTART_CONNECTION_STRING=Host=localhost;Port=54320;Database=coreproject_backend_dev;Username=postgres;Password=postgres
